In [344]:
## Data Analysis Of an Amazon Dataset 
## Source: Kaggle

In [ ]:
### Presentation of the Data

# This dataset contains 1K+ Amazon Product's Ratings and Reviews as per their details listed on the official website of Amazon

In [ ]:
# Data Cleaning and Preparation

In [346]:
#Import Modules

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [347]:
# load data into notebook

df=pd.read_csv("amazon_data_set.csv")
df.head(5)

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [348]:
df.shape

(1465, 16)

In [349]:
#Check if any duplicate
df.duplicated().value_counts()

False    1465
dtype: int64

In [350]:
#create a copy to avoid altering original
dfx=df.copy()

In [351]:
#Check if any missing value
dfx.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [352]:
#Select rows with missing value
dfx[dfx["rating_count"].isna()]

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
282,B0B94JPY2N,Amazon Brand - Solimo 65W Fast Charging Braide...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,80%,3.0,NaN,USB C to C Cable: This cable has type C connec...,AE7CFHY23VAJT2FI4NZKKP6GS2UQ,Pranav,RUB7U91HVZ30,The cable works but is not 65W as advertised,I have a pd supported car charger and I bought...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Amazon-Brand-Charging-Su...
324,B0BQRJ3C47,"REDTECH USB-C to Lightning Cable 3.3FT, [Apple...",Computers&Accessories|Accessories&Peripherals|...,₹249,₹999,75%,5.0,NaN,💎[The Fastest Charge] - This iPhone USB C cabl...,AGJC5O5H5BBXWUV7WRIEIOOR3TVQ,Abdul Gafur,RQXD5SAMMPC6L,Awesome Product,Quick delivery.Awesome ProductPacking was good...,https://m.media-amazon.com/images/I/31-q0xhaTA...,https://www.amazon.in/REDTECH-Lightning-Certif...

In [353]:
# Drop missing value
dfx=dfx.dropna()

In [354]:
dfx.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           0
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [355]:
# Check for Data types
dfx.dtypes

product_id             object
product_name           object
category               object
discounted_price       object
actual_price           object
discount_percentage    object
rating                 object
rating_count           object
about_product          object
user_id                object
user_name              object
review_id              object
review_title           object
review_content         object
img_link               object
product_link           object
dtype: object

In [356]:
# change data types to float or integer
dfx["rating_count"]=dfx["rating_count"].str.replace(",","")
dfx["discounted_price"]=dfx["discounted_price"].str.replace("₹","").str.replace(".","").str.replace(",","")
dfx["discount_percentage"]=dfx["discount_percentage"].str.rstrip("%")
dfx["discounted_price"]=dfx["discounted_price"].astype(float)
dfx["actual_price"]=dfx["actual_price"].str.replace("₹","").str.replace(",","")
dfx["actual_price"]=dfx["actual_price"].str.replace(".","")
dfx["actual_price"]=dfx["actual_price"].astype(int)
dfx["discount_percentage"]=dfx["discount_percentage"].astype(float)
dfx["rating_count"]=dfx["rating_count"].astype(int)

In [357]:
#change values in percentage
dfx["discount_percentage"]=dfx["discount_percentage"]/100

In [358]:
dfx["discount_percentage"]

0       0.64
1       0.43
2       0.90
3       0.53
4       0.61
        ...
1460    0.59
1461    0.25
1462    0.28
1463    0.26
1464    0.22
Name: discount_percentage, Length: 1463, dtype: float64

In [359]:
# locate non numeric value
dfx[["rating"]].value_counts()

rating
4.1       244
4.3       230
4.2       228
4.0       129
3.9       123
4.4       123
3.8        86
4.5        75
4          52
3.7        42
3.6        35
3.5        26
4.6        17
3.3        16
3.4        10
4.7         6
3.1         4
4.8         3
2.8         2
5.0         2
3.2         2
3.0         2
2.3         1
2.6         1
|           1
2.9         1
3           1
2           1
dtype: int64

In [360]:
# Replace by 4 (Data picked on the AMZ website)
dfx["rating"]=dfx["rating"].str.replace("|","4")

In [361]:
# Change datatype
dfx["rating"].astype(float)

0       4.2
1       4.0
2       3.9
3       4.2
4       4.2
       ...
1460    4.0
1461    4.1
1462    3.6
1463    4.0
1464    4.3
Name: rating, Length: 1463, dtype: float64

In [362]:
dfx.dtypes

product_id              object
product_name            object
category                object
discounted_price       float64
actual_price             int32
discount_percentage    float64
rating                  object
rating_count             int32
about_product           object
user_id                 object
user_name               object
review_id               object
review_title            object
review_content          object
img_link                object
product_link            object
dtype: object

In [363]:
#Split category column
df2=dfx["category"].str.split("|",expand=True)
df2

,0,1,2,3,4,5,6
0,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
1,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
2,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
3,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
4,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
...,...,...,...,...,...,...,...
1460,Home&Kitchen,Kitchen&HomeAppliances,WaterPurifiers&Accessories,WaterPurifierAccessories,None,None,None
1461,Home&Kitchen,Kitchen&HomeAppliances,SmallKitchenAppliances,Rice&PastaCookers,None,None,None
1462,Home&Kitchen,"Heating,Cooling&AirQuality",RoomHeaters,HeatConvectors,None,None,None
1463,Home&Kitchen,"Heating,Cooling&AirQuality",Fans,ExhaustFans,None,None,None
1464,Home&Kitchen,Kitchen&HomeAppliances,SmallKitchenAppliances,SandwichMakers,None,None,None

In [364]:
df2 = df2.rename(columns={0:'category_1', 1:'category_2'})

In [365]:
dfx["Major_category"]=df2["category_1"]

dfx["Sub_category"]=df2["category_2"]

In [366]:
dfx.drop(columns="category",inplace=True)

In [367]:
dfx["product_id"].str.strip()

0       B07JW9H4J1
1       B098NS6PVG
2       B096MSW6CT
3       B08HDJ86NZ
4       B08CF3B7N1
           ...
1460    B08L7J3T31
1461    B01M6453MB
1462    B009P2LIL4
1463    B00J5DYCCA
1464    B01486F4G6
Name: product_id, Length: 1463, dtype: object

In [368]:
dfx.drop(columns={"img_link","product_link"},inplace=True)

In [369]:
dfx["rating"]=dfx["rating"].astype(float)

In [370]:
dfx.dtypes

product_id              object
product_name            object
discounted_price       float64
actual_price             int32
discount_percentage    float64
rating                 float64
rating_count             int32
about_product           object
user_id                 object
user_name               object
review_id               object
review_title            object
review_content          object
Major_category          object
Sub_category            object
dtype: object

In [381]:
# Add a score column
dfx['Score'] = pd.cut(x=dfx['rating'], bins=[1, 3, 4, 5],
                     labels=['Low', 'Medium', 'High'])
dfx[["rating","Score"]].value_counts()

rating  Score
4.1     High      244
4.3     High      230
4.2     High      228
4.0     Medium    182
3.9     Medium    123
4.4     High      123
3.8     Medium     86
4.5     High       75
3.7     Medium     42
3.6     Medium     35
3.5     Medium     26
4.6     High       17
3.3     Medium     16
3.4     Medium     10
4.7     High        6
3.1     Medium      4
3.0     Low         3
4.8     High        3
2.8     Low         2
5.0     High        2
3.2     Medium      2
2.9     Low         1
2.6     Low         1
2.3     Low         1
2.0     Low         1
dtype: int64

In [373]:
#Split user_id and user_name
userid_split=dfx["user_id"].str.split(",",expand=False)
userid_split=userid_split.explode()
userid_split=userid_split.reset_index(drop=True)

username_split=dfx["user_name"].str.split(",",expand=False)
username_split=username_split.explode()
username_split=username_split.reset_index(drop=True)

In [375]:
# Create Dataframe
df3=pd.DataFrame(userid_split)
df3=df3.reset_index(drop=True)
df4=pd.DataFrame(username_split)
df4=df6.reset_index(drop=True)

In [377]:
# Merge both dataframes
merge_user= pd.merge(df3, df4, left_index=True, right_index=True)
merge_user

                            user_id          user_name
0      AG3D6O4STAQKAY2UVGEUV46KN35Q              Manav
1      AHMY5CWJMMK5BJRBBSNLYT3ONILA       Adarsh gupta
2      AHCTC6ULH4XB6YHDY6PCH2R772LQ            Sundeep
3      AGYHHIERNXKA6P5T7CZLXKVPT7IQ     S.Sayeed Ahmed
4      AG4OGOFWXJZTQ2HKYIOCOY3KXF2Q     jaspreet singh
...                             ...                ...
11496  AHXCDNSXAESERITAFELQABFVNLCA  BATTU SURESHKUMAR
11497  AGRZD6CHLCUNOLMMIMIHUCG7PIFA      Shubham Dubey
11498  AFQZVGSOSOJHKFQQMCEI4725QEKQ        E.GURUBARAN
11499  AEALVGXXIP46OZVXKRUXSDWZJMEA          Mayank S.
11500  AGEFL3AY7YXEFZA4ZJU3LP7K7OJQ         eusuf khan

[11501 rows x 2 columns]

In [ ]:
#Create a pivot Table
dfx1=dfx[["Major_category","Sub_category","product_id"]]
dfx2=pd.pivot_table(dfx1 ,index=["Major_category","Sub_category" ],aggfunc="count")

In [379]:
dfx2

                                                               product_id
Major_category        Sub_category
Car&Motorbike         CarAccessories                                    1
Computers&Accessories Accessories&Peripherals                         379
                      Components                                        5
                      ExternalDevices&DataStorage                      18
                      Laptops                                           1
                      Monitors                                          2
                      NetworkingDevices                                34
                      Printers,Inks&Accessories                        11
                      Tablets                                           1
Electronics           Accessories                                      14
                      Cameras&Photography                              16
                      GeneralPurposeBatteries&BatteryChargers          14
                      Headphones,Earbuds&Accessories                   66
                      HomeAudio                                        16
                      HomeTheater,TV&Video                            162
                      Mobiles&Accessories                             161
                      PowerAccessories                                  1
                      WearableTechnology                               76
Health&PersonalCare   HomeMedicalSupplies&Equipment                     1
Home&Kitchen          CraftMaterials                                    7
                      Heating,Cooling&AirQuality                      116
                      HomeStorage&Organization                         16
                      Kitchen&Dining                                    1
                      Kitchen&HomeAppliances                          308
HomeImprovement       Electrical                                        2
MusicalInstruments    Microphones                                       2
OfficeProducts        OfficeElectronics                                 4
                      OfficePaperProducts                              27
Toys&Games            Arts&Crafts                                       1